{% include "header.html" %}

<main>

<section class="py-3"></section>


<div class="album py-5 bg-body-tertiary">
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for listing in data %}
    <div class="col">
      <div class="card shadow-sm">
        <a href="{{listing}}">
          <div class="card-head rounded" style="background-image:url('{{data[listing]['image']}}')"></div>
        </a>

        <div class="card-body">
          <div class="text-title pb-3">
            {% if "https://allegro.pl" in listing or "https://allegrolokalnie.pl" in listing: %}
            <img class="rounded-circle me-1" width="32" height="32" src="/static/assets/logo_a.png">
            {% elif "https://gethome.pl" in listing: %}
            <img class="rounded-circle me-1" width="32" height="32" src="/static/assets/logo_g.png">
            {% elif "https://www.olx.pl" in listing: %}
            <img class="rounded-circle me-1 " width="32" height="32" src="/static/assets/logo_o.png">
            {% elif ".nieruchomosci-online.pl" in listing: %}
            <img class="rounded-circle me-1 border" width="32" height="32" src="/static/assets/logo_n.png">
            {% elif "https://www.otodom.pl" in listing: %}
            <img class="rounded-circle me-1 border" width="32" height="32" src="/static/assets/logo_ot.png">
            {% endif %}

            <span class="d-inline-block text-truncate align-middle" style="max-width: 17vw;">
            {{data[listing]['title']}}
            </span>
          </div>

          <div class="pb-3">
            {% if "https://allegro.pl" in listing or "https://allegrolokalnie.pl" in listing: %}
            <span class="text-a">{{data[listing]['price']}} zł</span>
            {% elif "https://gethome.pl" in listing: %}
            <span class="text-g">{{data[listing]['price']}} zł</span>
            {% elif "https://www.olx.pl" in listing: %}
            <span class="text-o">{{data[listing]['price']}} zł</span>
            {% elif "nieruchomosci-online.pl" in listing: %}
            <span class="text-n">{{data[listing]['price']}} zł</span>
            {% elif "https://www.otodom.pl" in listing: %}
            <span class="text-ot">{{data[listing]['price']}} zł</span>
            {% endif %}

            {% if "type" in data[listing].keys(): %}
            <small class="text-body-secondary text-type d-inline-block text-truncate align-middle" style="max-width: 16vw">{{data[listing]['type']}}</small>
            {% endif %}
          </div>


          <div class="pb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 18 16">
              <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"></path>
            </svg>
            <small class="text-body-secondary d-inline-block text-truncate align-middle" style="max-width: 19vw">
              {% if data[listing]['address'] != "none": %}
              Lokalizacja: {{data[listing]['address']}}
              {% else: %}
              Lokalizacja: -
              {% endif %}
            </small>
          </div>


          <div>
              {% if "rooms" in data[listing].keys(): %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"></path>
              </svg>
              <small class="text-body-secondary pe-2">Pokoje: {{data[listing]['rooms']}}</small>
              {% endif %}

              {% if "area" in data[listing].keys(): %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path d="M0 12.5v-9A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5M2.5 4a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 1 0V5h2.5a.5.5 0 0 0 0-1zm11 8a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-1 0V11h-2.5a.5.5 0 0 0 0 1z"></path>
              </svg>
              <small class="text-body-secondary pe-1">Powierzchnia: {{data[listing]['area']}} m²</small>
              {% endif %}

              {% if "level" in data[listing].keys(): %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path></svg>
              <small class="text-body-secondary">Poziom: {{data[listing]['level']}}</small>
              {% endif %}
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>
</main>

