@import 'bootstrap/dist/css/bootstrap.min.css';


/* .bi {
  vertical-align: -.125em;
  fill: currentColor;
} */

.text-a {
  color: rgb(255, 92, 10);
  font-weight: 700;
}

.text-g {
  color: rgb(144, 105, 192);
  font-weight: 700;
}

.text-n {
  color: var(--bs-body-color);
  font-weight: 700;
}

.text-o {
  color: rgb(35, 229, 219);
  font-weight: 700;
}

.text-ot {
  color: rgb(61, 211, 122);
  font-weight: 700;
}

.text-type {
  font-style: italic;
}

.text-title {
  font-size: 100%;
}

.card-head {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 200px;
   overflow: hidden;
}

.navbar.expanded + main {
  margin-top: 100px;
}

.btn {
  filter: saturate(0%);
}

.btn.active {
  filter: saturate(100%);
  /* background-color: #c3ff00; */
  /* border-color: #c3ff00; */
  color: #c3ff00;
}

.btn-primary {
  background-color: #c3ff00;
  border-color: #c3ff00;
  color: #000;
}

.btn-primary:hover {
  background-color: #b3e600;
  border-color: #b3e600;
  color: #000;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




